* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  color: #263138
}

header {
  background-color: #cdd187;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
}

#inicio {
  display: flex;
  align-items: center;
  padding: 1.5rem 5rem 8rem 0;
  position: relative;
}

h1, h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  width: 100%;
  text-align: center;
}

.textos {
  line-height: 150%;
  margin-bottom: 2rem;
}

.botao-transparente {
  border: 0.1rem solid #f3b792;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #263138;
  text-decoration: none;
  background-color: transparent;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: -1;
  transform: rotate(180deg);
}

#fotopessoal {
  z-index: -1;
}

#habilidades {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 5rem;
  flex-wrap: wrap;
}

.skills {
  text-align: center;
  padding: 2rem 1rem;
}

#projetos {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 5rem;
  justify-content: center;
  text-align: center;
}

#projetos img {
  border: .1rem solid #263138;
  border-radius: 1rem;
  padding: 1rem;
}

.cards {
margin: 1rem;
}

.cards p {
  font-weight: 600;
}

#quemsou {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#quemsou img {
  width: 35%;
  border-radius: 5rem;
}